.container {
    width: 400px;
    margin-left: 6%;
    margin-top: 5%;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-size: 2em;
}

.containar-table {
    width: 900px;
    position: relative;
    margin-right: 8%;
    margin-top: 5%;
    float: right;
}

a {
    text-decoration: none;
}

.editar {
    color: rgb(19, 165, 19);
}

.deletar {
    color: rgb(255, 18, 18);
}

.table_head {
    text-align: center;
}